/* *******************************************
****** PROJECT SETUP
******************************************* */

/* VARIABLES */
:root {
    /* MAIN COLORS */
    --main: black;
    --secondary: white;
    --accent: red;
  
    /* FONTS */
    --title: serif;
    --text: aerial;
  }
  
  /* GLOBAL STYLES */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* *******************************************
****** PROJECT STYLES
******************************************* */

body {
  background: lightblue;
}

button.nav {
  background:blueviolet;
  color: whitesmoke;
  border-radius: 80%;
  height: 60px;
  width: 60px;
  margin: 10px;
  font-family: 'Mystery Quest';
  resize: none;
}

div.hide{
  display: none;
}

div.show{
  display: block;
  font-family: monospace;
  text-align: center;
}

h1 {
  padding: 0;
  margin: 0
}

h3 {
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  font-weight: lighter;
}

.title {
  text-align: center;
  font-family: 'Mystery Quest';
  font-weight: lighter;
  color: goldenrod;
  font-size: 8em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.difficulty {
  margin: 20px;
}

.dropbtn {
  background-color: #2980B9;
  font-family: 'Mystery Quest';
  font-weight: lighter;
  color: goldenrod;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3498DB;
}

.dropdown {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  font-family: 'Mystery Quest';
  font-size: 15px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

button.show {
  display: block;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  background-color: blueviolet;
  color: #fff;
  font-family: 'monospace';
  font-weight: lighter;
  text-decoration: none;
  color: goldenrod;
  text-align: center;
  font-size: 2em;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  margin: auto;
  bottom: 125%;
  margin-left: -120px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Card */
section#card {
  font-family: monospace;
  border: solid goldenrod 5px;
  background-color: antiquewhite;
  font-size: 2em;
  width: 500px;
  height: 350px;
  padding: 10px;
  perspective: 1000px;
}

/* Card Container (front) */
section.card-front {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Side of Front of Card */
article.sideCard {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  height: 100px;
  width: 120px;
  padding: 0 90px 0 0;
  background-color: blanchedalmond;
  transform: rotate(-90deg);
  font-family: 'Great Vibes';
  font-size: 60px;
}

/* Card Categories */
article.divs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

div {
  margin: 10px;
}

button.category {
  width: 40px;
  height: 30px;
  border-radius: 60px;
  transition: 0.2s;
}

button.category:hover {
  width: 50px;
  height: 40px;
}

button.category.geography, button.D {
  background: blue
}

button.category.entertainment, button.A {
  background: magenta
}

button.category.history, button.B {
  background:yellow
}

button.category.art {
  background: brown
}

button.category.science, button.C {
  background: green
}

button.category.sports {
  background: orange
}

.close-button {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}
